*, *::after, *::before{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    background-color: black !important;
}

::-webkit-scrollbar {
    display: none;
}


.navbar{
    background-color: #181818;
    height: 100%;

    .navbar-nav{
        a{
            color: white;
            text-decoration: none;
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 20px;
            margin-left: 20px;
            
    
            &:hover{
                color: white;
                border-bottom: 1px solid white;
            }
        }
    }

    .navbar-toggler{
        border: none;

        &:focus{
            outline: none;
            box-shadow: none;
        }
    }
      

    .nav_button{
        width: 155px;
        height: 42px;
        border-radius: 14px;
        border: none;
        margin-left: 50px;
        transition-duration: 0.5s;

        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.4000000059604645px;

        @media screen and (max-width: $breakpoint-lg) {
            margin-left: 0;
        }


        &:hover{
            color: white;
            background: none;
            border: 1px solid white;
        }
    }
}

.header_img{
    background-image: url(img/header_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    height: 800px;
    width: 100%;

    .main_text{
        margin: 20px;
        margin-bottom: -30px;

        @media screen and (max-width: $breakpoint-lg-max) {
            margin-bottom: 10px;
        }

        h1{
            color: white;
            margin-bottom: 20px;

            font-size: 54px;
            font-weight: 400;
            line-height: 59px;
            letter-spacing: 0em;
            text-align: center;
        }
    
        p{
            color: $color-secondary;
            max-width: 580px;

            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0em;
            text-align: center;            
        }
        .upper_text{
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 2px;
            text-align: center;
            text-transform: uppercase;
        }
    }

    .photo_info{
        margin: 40px;

        @media screen and (max-width: 332px) {
            align-self: center !important;
        }

        img{
            margin-left: 20px;
        }
    }
}